@font-face {
  font-family: roboto;
  src: url(Fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: roboto-bold;
  src: url(fonts/Roboto-Bold.ttf);
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #dddddd;
}

::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  border-radius: 0px;
}

@supports (scrollbar-color: #ddd transparent) {
  * {
    scrollbar-color: #ddd transparent;
    scrollbar-width: thin;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

*:focus, *:hover {
  outline: none;
}

body {
  font-family: roboto;
  overflow: hidden;
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: white;
}

header {
  height: 60px;
  width: 100%;
  background-color: #f7ba29;
  position: fixed;
  z-index: 10;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header nav {
  width: 100%;
  max-width: 1400px;
  padding: 0 30px;
  margin: auto;
  height: 60px;
}

@media only screen and (max-width: 768px) {
  header nav {
    -ms-grid-columns: auto 50px;
        grid-template-columns: auto 50px;
    padding: 0;
  }
}

header nav .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 60px;
}

@media only screen and (max-width: 768px) {
  header nav .nav-container {
    -ms-grid-columns: 50px;
        grid-template-columns: 50px;
    padding-left: 20px;
  }
}

header nav .nav-container .logo {
  position: relative;
  z-index: 5;
  margin-right: auto;
}

header nav .nav-container .logo .logo-image {
  background-image: url(images/logo.png);
  background-size: 100% auto;
  width: 150px;
  height: 100px;
  top: 0px;
  background-repeat: no-repeat;
  background-position: center left;
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media only screen and (max-width: 768px) {
  header nav .nav-container .logo .logo-image {
    height: 60px;
    width: 100px;
  }
}

header nav .nav-container .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  header nav .nav-container .nav-list {
    width: 85%;
    overflow: hidden;
    background-color: #52B3F0;
    padding: 30px 0;
    margin-top: 0px;
    height: calc(100vh - 60px);
    top: 59px;
    position: fixed;
    display: block;
    left: -100%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

header nav .nav-container .nav-list li {
  position: relative;
  cursor: pointer;
  height: inherit;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  display: block;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  header nav .nav-container .nav-list li {
    height: auto;
    padding: 10px 0;
  }
}

header nav .nav-container .nav-list li a {
  color: white;
  padding: 0 15px;
  width: 100%;
  height: inherit;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  header nav .nav-container .nav-list li a {
    padding-left: 30px;
  }
  header nav .nav-container .nav-list li a.selected {
    border: none;
  }
}

header nav .nav-container .nav-list li:hover {
  background: #da9708;
}

@media only screen and (max-width: 768px) {
  header nav .nav-container .nav-list li:hover {
    background: transparent;
  }
}

header nav .nav-container .nav-list li .selected {
  border-top: 2px solid transparent;
  border-bottom: 2px solid #fff;
}

header nav .nav-container .arrow::after {
  content: "";
  margin: 0px 0 5px 15px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: .5;
}

header nav .nav-container ul.drop-down {
  position: absolute;
  background-color: #da9708;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 50px;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 0;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 10px;
  display: none;
}

@media only screen and (max-width: 768px) {
  header nav .nav-container ul.drop-down {
    position: relative;
    background-color: #2ca3ed;
    width: 100%;
    display: block;
    top: 10px;
    margin: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    overflow: hidden;
    padding: 0;
    height: 0;
  }
}

header nav .nav-container ul.drop-down li {
  padding: 10px;
}

header nav .nav-container ul.drop-down li:hover {
  background: rgba(0, 0, 0, 0.2);
  color: white;
}

header nav .nav-container ul.drop-down li:hover a {
  color: #fff;
}

@media only screen and (max-width: 768px) {
  header nav .nav-container ul.drop-down li {
    padding: 5px 0;
  }
  header nav .nav-container ul.drop-down li:first-child {
    padding-top: 10px;
  }
  header nav .nav-container ul.drop-down li a {
    font-size: 13px;
  }
  header nav .nav-container ul.drop-down li:hover {
    background: none;
  }
}

header nav .nav-container .nav-list li:hover > .drop-down,
header nav .nav-container .nav-list li .drop-down:hover {
  display: block;
}

header nav .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 768px) {
  header nav .social-media {
    display: none;
  }
}

header nav .social-media .facebook, header nav .social-media .instagram {
  background-image: url(images/facebook.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 50px;
  height: 60px;
}

header nav .social-media .facebook:hover, header nav .social-media .instagram:hover {
  opacity: 1;
}

header nav .social-media .instagram {
  background-image: url(images/instagram.svg);
}

header nav .hamburger {
  display: none;
}

@media only screen and (max-width: 768px) {
  header nav .hamburger {
    display: block;
  }
  header nav .hamburger:hover {
    background: rgba(0, 0, 0, 0) !important;
  }
}

header nav .hamburger svg {
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  .expand {
    height: 160px !important;
  }
}

@media only screen and (max-width: 768px) {
  .arrow.rotate-180::after {
    -webkit-transform: rotate(225deg) !important;
            transform: rotate(225deg) !important;
    margin-bottom: 0px !important;
    margin-top: 6px !important;
  }
}

@media only screen and (max-width: 768px) {
  .show-menu {
    left: 0 !important;
  }
}

header.resize nav .nav-container .logo .logo-image {
  height: 60px;
  width: 80px;
}

@media only screen and (max-width: 768px) {
  header.resize nav .nav-container .logo .logo-image {
    width: 80px;
  }
}

header.blue, header.blue-home {
  background-color: #3aa0df;
}

header.blue nav .nav-container li:hover, header.blue-home nav .nav-container li:hover {
  background-color: #2086c5;
}

header.blue nav .nav-container li .drop-down, header.blue-home nav .nav-container li .drop-down {
  background-color: #3aa0df;
}

header.blue nav .logo .logo-image, header.blue-home nav .logo .logo-image {
  height: 60px;
  width: 80px;
}

@media only screen and (max-width: 768px) {
  header.blue nav .logo .logo-image, header.blue-home nav .logo .logo-image {
    width: 80px;
  }
}

.content {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #f9f9f9;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.content .content-holder {
  width: 100%;
  max-width: 1400px;
  overflow: hidden;
}

.content .main-content {
  width: 100%;
  height: 600px;
  background-color: #f7ba09;
  position: relative;
}

@media only screen and (max-width: 1280px) {
  .content .main-content {
    padding-bottom: 40%;
  }
}

@media only screen and (max-width: 768px) {
  .content .main-content {
    background-color: #f7ba09;
    padding-bottom: 100%;
    background-position: top right;
    background-size: auto 100%;
  }
}

.content .main-content .main-content-container {
  height: 100%;
  max-width: 1400px;
  width: 100%;
  padding: 0 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  background-image: url(images/background-5.png);
  background-size: 850px;
  background-repeat: no-repeat;
  background-position: right -30px center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media only screen and (max-width: 768px) {
  .content .main-content .main-content-container {
    background-size: auto 60%;
    background-position: center center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: 100%;
  }
}

@media only screen and (max-width: 480x) {
  .content .main-content .main-content-container {
    padding: 0 25px;
  }
}

.content .main-content .main-content-container .main-message {
  margin-left: 112px;
  position: absolute;
  top: 50%;
  width: 500px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media only screen and (max-width: 1200px) {
  .content .main-content .main-content-container .main-message {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    left: -112px;
    padding: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .content .main-content .main-content-container .main-message {
    padding: 40px;
    width: 100%;
    margin-top: 40px;
  }
}

@media only screen and (max-width: 1200px) {
  .content .main-content .main-content-container .main-message h2 {
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .content .main-content .main-content-container .main-message h2 {
    font-size: 28px;
  }
}

.content .main-content .main-content-container .main-message p {
  font-weight: 400px;
  color: white;
  padding-top: 10px;
  font-size: 18px;
}

@media only screen and (max-width: 1200px) {
  .content .main-content .main-content-container .main-message p {
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .content .main-content .main-content-container .main-message p {
    font-size: 14px;
  }
}

.content .main-content .main-content-container .main-message .button-holder {
  width: 100%;
  margin-top: 40px;
  float: left;
}

@media only screen and (max-width: 1200px) {
  .content .main-content .main-content-container .main-message .button-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 480px) {
  .content .main-content .main-content-container .main-message .button-holder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
  }
}

.content .main-content .main-content-container .main-message .button-holder a {
  padding: 12px;
  border-radius: 5px;
  background: white;
  font-size: 16px;
  color: #000;
  display: block;
  width: 180px;
  text-align: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 1px solid #fff;
  float: left;
}

.content .main-content .main-content-container .main-message .button-holder a:hover {
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 480px) {
  .content .main-content .main-content-container .main-message .button-holder a {
    font-size: 14px;
    width: 140px;
    padding: 9px;
  }
}

@media only screen and (max-width: 320px) {
  .content .main-content .main-content-container .main-message .button-holder a {
    font-size: 12px;
    width: 132px;
  }
}

.content .main-content .main-content-container .main-message .button-holder .darken {
  color: white;
  background: #d19005;
  margin-left: 24px;
}

@media only screen and (max-width: 480px) {
  .content .main-content .main-content-container .main-message .button-holder .darken {
    margin-left: 0;
    margin-top: 10px;
  }
}

h2 {
  font-size: 46px;
  color: white;
}

.section-holder {
  width: 100%;
  width: 100%;
  overflow: hidden;
  margin: auto;
}

.section-holder .category-grid {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  margin-top: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 0 30px;
}

@media only screen and (max-width: 1100px) {
  .section-holder .category-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
  }
}

@media only screen and (max-width: 768px) {
  .section-holder .category-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 60px;
  }
}

@media only screen and (max-width: 768px) {
  .section-holder .category-grid {
    padding: 0 25px;
  }
}

.section-holder .category-grid .category-content {
  width: 100%;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .section-holder .category-grid .category-content {
    text-align: center;
  }
}

.section-holder .category-grid .category-content h2 {
  font-size: 18px;
  font-weight: 600;
  padding: 30px 0 10px 0;
  color: #000;
}

@media only screen and (max-width: 768px) {
  .section-holder .category-grid .category-content h2 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .section-holder .category-grid .category-content h2 {
    font-size: 16px;
    padding-top: 14px;
  }
}

.section-holder .category-grid .category-content p {
  color: #000;
}

@media only screen and (max-width: 480px) {
  .section-holder .category-grid .category-content p {
    font-size: 14px;
  }
}

.section-holder .category-grid .category-content .image {
  width: 100%;
  padding-bottom: 55%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.section-holder .category-grid .category-content .image:hover {
  background-size: 110%;
}

.section-holder .category-grid .category-content .learning-help {
  background-image: url(images/pomoc-u-ucenju.svg);
}

.section-holder .category-grid .category-content .tutoring {
  background-image: url(images/instrukcije.svg);
}

.section-holder .category-grid .category-content .consulting {
  background-image: url(images/savjetovanje-roditelja.svg);
}

.section-holder .category-grid .category-content .education {
  background-image: url(images/edukacija-za-pomocnike.svg);
}

.section-holder .category-grid .category-content .learn-more {
  width: 26px;
  height: 26px;
  background-color: #7CCCFF;
  border-radius: 50%;
  background-image: url(images/next.png);
  background-size: 20px;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  bottom: -30px;
  background-position: center;
}

.section-holder .category-grid .category-content .learn-more:hover {
  background-color: #3aa0df;
}

@media only screen and (max-width: 480px) {
  .section-holder .category-grid .category-content .learn-more {
    font-size: 14px;
  }
}

.section-holder .online-learning, .section-holder .learning-methods {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  height: 600px;
  background-image: url(images/online-ucenje.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 100px;
}

@media only screen and (max-width: 768px) {
  .section-holder .online-learning, .section-holder .learning-methods {
    height: 0;
    float: left;
    background-position: bottom right -30px;
    background-size: auto 100%;
    padding-bottom: 120%;
    margin: 60px 0;
  }
}

.section-holder .online-learning .text-container, .section-holder .learning-methods .text-container {
  width: 60%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  padding-left: 120px;
}

@media only screen and (max-width: 768px) {
  .section-holder .online-learning .text-container, .section-holder .learning-methods .text-container {
    padding: 50px 30px 30px 50px;
    -webkit-transform: none;
            transform: none;
    top: 0;
    width: 80%;
  }
}

@media only screen and (max-width: 480px) {
  .section-holder .online-learning .text-container, .section-holder .learning-methods .text-container {
    padding: 50px 0px 0 25px;
  }
}

.section-holder .online-learning .text-container h2, .section-holder .learning-methods .text-container h2 {
  font-size: 32px;
}

@media only screen and (max-width: 768px) {
  .section-holder .online-learning .text-container h2, .section-holder .learning-methods .text-container h2 {
    font-size: 28px;
  }
}

@media only screen and (max-width: 480px) {
  .section-holder .online-learning .text-container h2, .section-holder .learning-methods .text-container h2 {
    font-size: 22px;
  }
}

.section-holder .online-learning .text-container p, .section-holder .learning-methods .text-container p {
  font-size: 18px;
  padding-top: 15px;
  color: white;
}

@media only screen and (max-width: 480px) {
  .section-holder .online-learning .text-container p, .section-holder .learning-methods .text-container p {
    font-size: 15px;
  }
}

.section-holder .online-learning .text-container a, .section-holder .learning-methods .text-container a {
  background-color: #285875;
  padding: 12px 32px;
  color: white;
  margin-top: 25px;
  display: inline-block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 18px;
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  .section-holder .online-learning .text-container a, .section-holder .learning-methods .text-container a {
    padding: 12px 16px;
    font-size: 16px;
    margin-top: 15px;
  }
}

@media only screen and (max-width: 320px) {
  .section-holder .online-learning .text-container a, .section-holder .learning-methods .text-container a {
    padding: 8px 8px;
    font-size: 12px;
  }
}

.section-holder .online-learning .text-container a:hover, .section-holder .learning-methods .text-container a:hover {
  padding: 16px 36px;
}

@media only screen and (max-width: 480px) {
  .section-holder .online-learning {
    height: 0;
    float: left;
    background-position: bottom right -10px;
    background-size: auto 100%;
    padding-bottom: 130%;
    margin-bottom: 60px;
    margin-top: 60px;
    width: calc(100% + 60px);
  }
}

@media only screen and (max-width: 320px) {
  .section-holder .online-learning {
    padding-bottom: 110%;
  }
}

.section-holder .learning-methods {
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-image: url(images/gm-6.png);
  background-size: 50%;
  background-position: left 20px center;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media only screen and (max-width: 1100px) {
  .section-holder .learning-methods {
    height: 400px;
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 768px) {
  .section-holder .learning-methods {
    height: 0;
    background-position: bottom;
    background-size: 100%;
    margin-top: 0;
    padding-bottom: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .section-holder .learning-methods {
    padding-bottom: 114%;
  }
}

@media only screen and (max-width: 320px) {
  .section-holder .learning-methods {
    padding-bottom: 135%;
  }
}

.section-holder .learning-methods .text-container {
  width: 50%;
}

@media only screen and (max-width: 768px) {
  .section-holder .learning-methods .text-container {
    width: 100%;
    top: 0px;
    padding-top: 0;
    -webkit-transform: none;
            transform: none;
  }
}

.section-holder .learning-methods .text-container h2, .section-holder .learning-methods .text-container p {
  color: #000;
}

.section-holder .learning-methods .text-container a {
  background-color: #2C6D9A;
}

.section-holder .learning-methods .text-container a:hover {
  background-color: #2c6d9a;
}

@media only screen and (min-width: 768px) {
  .picture-resize {
    background-size: 750px !important;
    background-position: right bottom 60px !important;
  }
}

footer {
  width: 100%;
  background-color: #3596d3;
}

footer .footer-content {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  color: white;
}

@media only screen and (max-width: 768px) {
  footer .footer-content {
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 25px;
    padding-top: 0;
  }
}

footer .footer-content .left-footer-content h3 {
  padding-bottom: 10px;
}

footer .footer-content .left-footer-content a {
  display: block;
  padding-top: 8px;
  opacity: 0.7;
}

footer .footer-content .left-footer-content a:hover {
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  footer .footer-content .left-footer-content {
    display: none;
  }
}

footer .footer-content .center-footer-content {
  background-image: url(images/logo.png);
  background-size: auto 60%;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (max-width: 768px) {
  footer .footer-content .center-footer-content {
    background-size: 30% auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}

footer .footer-content .right-footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-content .right-footer-content .contact-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media only screen and (max-width: 768px) {
  footer .footer-content .right-footer-content .contact-holder {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 20px;
  }
}

footer .footer-content .right-footer-content .contact-holder a {
  padding-right: 30px;
  font-size: 16px;
  padding: 8px 30px 5px 5px;
  display: block;
}

@media only screen and (max-width: 768px) {
  footer .footer-content .right-footer-content .contact-holder a {
    font-size: 16px;
    padding: 8px 0;
    display: block;
    width: 100%;
    text-align: center;
    background-image: none !important;
  }
}

footer .footer-content .right-footer-content .contact-holder .phone-number {
  background-image: url(images/phone.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: right center;
}

footer .footer-content .right-footer-content .contact-holder .address {
  background-image: url(images/location.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: right center;
}

footer .footer-content .right-footer-content .contact-holder .mail {
  background-image: url(images/mail.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: right center;
}

footer .footer-content .right-footer-content .social-media {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 20px;
}

@media only screen and (max-width: 768px) {
  footer .footer-content .right-footer-content .social-media {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
}

footer .footer-content .right-footer-content .social-media .facebook, footer .footer-content .right-footer-content .social-media .instagram {
  width: 35px;
  height: 35px;
  background-image: url(images/facebook-f.svg);
  background-size: 100%;
  opacity: 0.5;
  background-repeat: no-repeat;
}

footer .footer-content .right-footer-content .social-media .facebook:hover, footer .footer-content .right-footer-content .social-media .instagram:hover {
  opacity: 1;
}

@media only screen and (max-width: 480px) {
  footer .footer-content .right-footer-content .social-media .facebook, footer .footer-content .right-footer-content .social-media .instagram {
    width: 30px;
    height: 30px;
  }
}

footer .footer-content .right-footer-content .social-media .instagram {
  background-image: url(images/instagram.svg);
}

footer .bottom-footer-content-1 {
  font-size: 12px;
  padding: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  color: #ddd;
  text-align: center;
}

footer .bottom-footer-content-2 {
  background: rgba(0, 0, 0, 0.2);
  font-size: 10px;
  padding: 8px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

@media only screen and (max-width: 768px) {
  footer .bottom-footer-content-2 {
    font-size: 8px;
  }
}

.categories {
  padding-top: 100px;
  padding-bottom: 60px;
}

@media only screen and (max-width: 768px) {
  .categories {
    padding-top: 60px;
  }
}

.categories .category-container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  padding: 0 30px;
}

@media only screen and (max-width: 900px) {
  .categories .category-container {
    margin: 0;
    grid-gap: 40px;
  }
}

@media only screen and (max-width: 768px) {
  .categories .category-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 0;
    padding: 0 25px;
  }
}

@media only screen and (max-width: 900px) {
  .categories .category-container .category-text-container {
    padding-top: 30px;
    padding-bottom: 0;
  }
}

.categories .category-container .category-text-container h2 {
  color: #3596d3;
  font-size: 36px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .categories .category-container .category-text-container h2 {
    font-size: 26px;
  }
}

.categories .category-container .category-text-container p {
  padding: 20px 0;
  line-height: 1.5;
}

@media only screen and (max-width: 480px) {
  .categories .category-container .category-text-container p {
    font-size: 15px;
  }
}

.categories .category-container .category-text-container .price {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  line-height: 1.5;
}

.categories .category-container .category-text-container .price span {
  font-weight: bold;
}

@media only screen and (max-width: 900px) {
  .categories .category-container .picture-container {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
  }
}

.categories .category-container .picture-container .tutoring, .categories .category-container .picture-container .learning-help, .categories .category-container .picture-container .consulting, .categories .category-container .picture-container .category-learning-methods, .categories .category-container .picture-container .education {
  background-color: #7CCCFF;
  height: 0px;
  padding-bottom: 65%;
  margin-top: 62px;
  background-image: url(images/instrukcije.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom center;
}

@media only screen and (max-width: 900px) {
  .categories .category-container .picture-container .tutoring, .categories .category-container .picture-container .learning-help, .categories .category-container .picture-container .consulting, .categories .category-container .picture-container .category-learning-methods, .categories .category-container .picture-container .education {
    margin: 0 -30px 0 -30px;
  }
}

.categories .category-container .picture-container .learning-help {
  background-image: url(images/pomoc-u-ucenju.svg);
}

.categories .category-container .picture-container .consulting {
  background-image: url(images/savjetovanje-roditelja-big.svg);
}

.categories .category-container .picture-container .category-learning-methods {
  background-image: url(images/gm-6.png);
  background-size: auto 90%;
  background-color: transparent;
}

.categories .category-container .picture-container .education {
  background-image: url(images/edukacija-za-pomocnike-big.svg);
}

.contact h3 {
  color: #3596d3;
  font-size: 32px;
  padding-bottom: 20px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .contact h3 {
    font-size: 24px;
  }
}

.contact .contact-content {
  margin-top: 30px;
}

@media only screen and (max-width: 900px) {
  .contact .contact-content {
    margin-top: 60px;
  }
}

.contact .contact-content .anja-contact {
  width: 160px;
  height: 160px;
  background-image: url(images/anja-3.png);
  background-size: 160px;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin: auto;
  position: relative;
  z-index: 2;
}

@media only screen and (max-width: 480px) {
  .contact .contact-content .anja-contact {
    width: 140px;
    height: 140px;
    background-size: 140px;
  }
}

.contact .contact-content .contact-info {
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  width: 340px;
  height: auto;
  margin: auto;
  padding-top: -20px;
  padding-bottom: 30px;
}

@media only screen and (max-width: 480px) {
  .contact .contact-content .contact-info {
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 320px;
    margin: auto;
    margin-top: -20px;
    padding-bottom: 15px;
  }
}

.contact .contact-content .contact-info p {
  color: #555;
  padding-top: 5px;
  text-align: center;
}

.contact .contact-content .contact-info p:first-child {
  padding-top: 44px;
}

.contact .contact-content .contact-info .contact-us {
  padding: 12px 0;
  width: 160px;
  border-radius: 5px;
  background: #316b90;
  font-size: 16px;
  color: white;
  display: block;
  text-align: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: auto;
  margin-top: 30px;
}

@media only screen and (max-width: 480px) {
  .contact .contact-content .contact-info .contact-us {
    font-size: 15px;
    width: 146px;
    margin-top: 15px;
  }
}

.map-container {
  margin-top: 78px;
}

@media only screen and (max-width: 768px) {
  .map-container {
    margin-top: 60px;
  }
}

.line {
  fill: none;
  stroke: #fff;
  stroke-width: 8;
  stroke-linecap: round;
  -webkit-transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 8;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 8;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 8;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 8;
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 8;
}

.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 8;
}

@media only screen and (max-width: 480px) {
  .call-button {
    position: fixed;
    height: 50px;
    width: 50px;
    background-color: #30ad56;
    background-image: url(images/phone-icon.svg);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    z-index: 3;
  }
}

@media only screen and (max-width: 900px) {
  .about-us {
    padding-top: 60px !important;
    grid-gap: 40px !important;
  }
}

@media only screen and (max-width: 480px) {
  .about-us {
    padding-top: 20px !important;
    grid-gap: 30px !important;
  }
}

.about-us .anja-images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

@media only screen and (max-width: 900px) {
  .about-us .anja-images {
    height: auto;
  }
}

@media only screen and (max-width: 480px) {
  .about-us .anja-images {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

.about-us .anja-images .image {
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 900px) {
  .about-us .anja-images .image {
    padding-bottom: 107%;
  }
}

.about-us .anja-images .image.top {
  background-image: url(images/anja-1.png);
}

@media only screen and (max-width: 480px) {
  .about-us .anja-images .image.top {
    display: none;
  }
}

.about-us .anja-images .image.middle {
  background-image: url(images/anja-2.png);
  margin-top: 30px;
}

@media only screen and (max-width: 480px) {
  .about-us .anja-images .image.middle {
    display: none;
  }
}

.about-us .anja-images .image.bottom {
  background-image: url(images/anja-3.png);
  margin-top: 60px;
}

@media only screen and (max-width: 480px) {
  .about-us .anja-images .image.bottom {
    background-size: 80%;
    background-position: center bottom;
    margin-top: 40px;
  }
}

.about-us .about-us-text p {
  line-height: 1.5;
}

@media only screen and (max-width: 480px) {
  .about-us .about-us-text p {
    font-size: 14px;
  }
}

.about-us .about-us-text.anja {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.about-us .about-us-text h2 {
  color: #3596d3;
  font-size: 32px;
  padding-bottom: 20px;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .about-us .about-us-text h2 {
    font-size: 26px;
  }
}

@media only screen and (max-width: 768px) {
  .about-us .picture-container-video {
    width: 100%;
    margin: auto;
  }
}
/*# sourceMappingURL=style.css.map */